//Primary
$bermuda: #0ecad4;
$denim: #1a1e33;
$amber: #ff6c28;

//Accent
$ocean: #0353d3;
$flamingo: #d40e80;
$amethyst: #7d0dd3;
$amphibian: #00a0a8;

//Limited Use
$emerald: #0cc0a8;
$ruby: #e90716;
$citrine: #ffbb3d;

//Neutrals
$bleached-denim: #eef0f6;
$lightwash-denim: #d0d3e7;
$vintage-denim: #a1a9ce;
$faded-denim: #5568aa;
$medium-denim: #3d4676;
$denim: #1a1e33;

//Greys
$polar: #f4f7fa;
$ash: #98a2a7;
$soot: #6b757b;
